h1 {
    font-size: 5em;
    font-family: Helvetica, Arial, sans-serif;
    color: lightcoral;
    text-align: center;
}

.navbar {
  text-align: center;
  border: 0.5em solid coral;
  background-color: lightcoral;
}

span {
  padding: 0.5em;
}

a {
    font-size: 3em;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

a:hover {
  color: lightpink;
}

p {
    width: 50%;
}

table,td,th {
  border: 0.2em solid black;
}